<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Ajax Using AngularJS with PHP (PHP FORMS)</title>
    <script src="js/angular.min.js" charset="utf-8"></script>
    <script src="index.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainCtrl">
    <h1>Ajax Using AngularJS with PHP Forms</h1>
    <br>
    <form method="post" ng-submit="addUser(name, email, phone)">
      <label>Name:</label>
      <input type="text" ng-model="name" value="" required> <br/><br/>
      <label>Email:</label>
      <input type="text" ng-model="email" value="" required> <br/><br/>
      <label>Phone:</label>
      <input type="text" ng-model="phone" value="" required> <br/><br/>
      <input type="submit" value="Add User">
    </form>
    <!-- <br/><br/> -->
    <p>{{ FetchError }}</p>
    <table style="margin-top: 20px;" border="1">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="x in fetch">
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.phone}}</td>
        <td>
          <input type="button" ng-click="removeUser(x.id)" value="Delete">
        </td>
      </tr>
    </table>
  </body>
</html>
